<div class="container">
    <div class="p-5 text-center">
        <br>
        <br>
        <h1 class="mb-3"><strong>PEDALS Academy</strong> welcomes you!</h1>
        <p class="mb-3">if you are a member, login to <strong>PEDALS Connect</strong> now</p>
        <a class="btn btn-primary" href="/PDLConnect" role="button">Redirect to PDLConnect</a>
    </div>
</div>
<div class="container">
    <div class="card bg-dark text-white custom-pdl">
        <img class="card-img" src="/public/img/whoarewe.png" alt="Card image">
        <div class="card-img-overlay">
            <div class='blur'>

                <p class="card-text">
                <h2 class="card-title">Who are we?</h2>PEDALS Academy (PEDALS) is a youth-centric organization that
                specializes in
                equipping
                young people with facilitation <br>and leadership skills through training programs and
                workshop-based
                learning for personal development and leadership.</p>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-5 shadow p-3">
        <div class="card-body">
            <h3 class="card-title">How it all began.</h3>
            <p class="card-text">
                In 2013, a team of passionate students kick-started their
                facilitation journey as
                Student Facilitators (SF) at HELP Matriculation Centre (HMC) under the leadership of Ms. Helena Michael.
                SF was a student body that provided HMC students with the opportunity and platform to develop and
                harness their facilitation skills through conducting orientations, leadership camps, and high-school
                workshops.<br><br>
                Personal Development is a life long journey and as students completed their studies at HMC, it seemed
                only appropriate to expand and so PEDALS Academy was established.<br><br>
                Founded in 2021, PEDALS Academy is a platform for determined and passionate young people to leverage
                their potential to upskill themselves through facilitation. PEDALS Academy provides opportunities for
                young people to practice their facilitation skills through in-house workshops and training as well as
                conducting programmes relating to Personal Development and Leadership (PDL) for external organizations.
                The facilitation opportunities provided is aligned with our belief that facilitation is a powerful skill
                that amalgamates one’s rich knowledge with personal leadership skills. Thus, giving those with
                facilitation experience an edge over their peers in the future.</p>
        </div>
    </div>
</div>