<div class="container">
    <div class="p-5 text-center">
        <br>
        <br>
        <h1 class="mb-3">Welcome to <strong>PEDALS Academy</strong></h1>
        <p class="mb-3">if you are a member, login to <strong>PEDALS Connect</strong> now</p>
        <a class="btn btn-primary" href="" role="button">Login now</a>
    </div>
</div>
<div class="container-sm">
    <div class="card mb-5 shadow p-3">
        <img src="public/img/whoarewe.png" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title">Who are we?</h5>
            <p class="card-text">PEDALS Academy (PEDALS) is a youth-centric organization that specializes in equipping
                young people with facilitation and leadership skills through training programs and workshop-based
                learning for personal development and leadership.</p>
        </div>
    </div>
</div>