<!-- CSS only -->

<link href="/public/css/styles.css" rel="stylesheet">
<nav class="navbar navbar-custom fixed-top navbar-expand-lg shadow p-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/public/img/pedals.png" width="50" height="50"
            class="d-inline-block align-top logo-margin" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">About PEDALS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facilitation 101</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Get in touch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PDLConnect</a>
            </li>
        </ul>
    </div>
</nav>